/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
  font-style:normal ;
  size: 16px;
}
body {
	line-height: 1;
  
}

figcaption {
  margin-top: 2%;
}
a {
  color: black;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
  margin: 0;
  font-family: 'Work Sans';
  font-size: 14px;
}


#edition-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  gap: 10px;
}

.hidden {
    display: none !important;
}
.btn-edit {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  cursor: pointer;
  right: 30%;
  
}
.btn-edit:hover {
  text-decoration: underline;
}

.btn-edit-icon {
  width: 16px;
  height: 16px;
 color: black;
  }
header {
	display: flex;
	justify-content: space-between;
	padding: 20px 50px;
}

section {
	margin: 50px 0
}
.filters {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.filters button {
  border: 1px solid #1D6154;
  border-radius: 25px;
  padding: 10px 25px;
  background-color: transparent;
  color: #1D6154;
  font-family: 'syne';
  font-size: 16px;
  font-weight: 500;
  font-style: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filters button:hover {
  background-color: #1D6154;
  color: #fff;
}

.filters button.active {
  background-color: #1D6154;
  color: #fff;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px); /* colonnes de 310px */
  justify-content: center; /* centre la grille horizontalement */
  gap: 20px;               /* espace entre images */
  margin: 40px 0;
  padding: 0 20px;
}
.gallery img {
  width: 310px;       /* largeur fixe */
  height: 413px;      /* hauteur fixe */
  object-fit: cover;  /* recadre sans déformation */
  border-radius: 8px; /* coins arrondis, optionnel */
  display: block;     /* évite espace blanc sous l’image */
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1em;
}

li:hover {
	color: #B1663C;
}
.login-item {
    font-weight: 700;
}
#introduction {
  margin-top: 100px;
  margin-bottom: 150px;
  padding: 0 20px;
  display: flex;
  align-items:center;
  gap: 20px;
  margin-left: 5%;
}
#introduction figure {
	flex: 1
}
#introduction img {
	width: 464px;
  height: 345px;
 
}

#introduction article {
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  text-align: left;       
       
  max-width: 400px;        
  word-wrap: break-word;   
  margin-right: 110px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1.5em;
  color: #3D3D3D;
}
#portfolio {
  position: relative;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


.login-section {
  background: white;
  padding: 40px 50px;
  width: 320px;
  text-align: center;
  margin-left: 350px;
}
.login-section h2 {
  font-family: 'Syne', serif;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 45px;
  color: #1D6154;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #3D3D3D;
    text-decoration: none;
    
}

.forgot-password:hover {
    text-decoration: underline;
}

.upload-zone img.upload-placeholder {
  color: #B9C5CC
}

.upload-zone label {
  text-align: left;
  font-weight: 600;
  font-size: 0.9rem;
  color: #3D3D3D;
  height: 36px;
  width: 173px;
  max-width: 80%;
  border-radius: 50px;
  color: #306685;
  background-color: #CBD6DC;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="email"],
input[type="password"] {
  padding: 12px 15px;
  border-radius: 6px;
  border: 1.5px solid #fff;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: #7a4e36;
  transition: border-color 0.3s ease;
  	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 10px 20px rgb(122 78 54 / 0.2)
}

button[type="submit"] {
  margin-top: 15px;
  background-color: #194d4d;
  color: #fff;
  font-family: 'Syne', serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 12px 0;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3a706d;
}

button[type="submit"]:active {
  background-color: #122f2e;
}

.login-section a {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #3D3D3D;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: 600;
}

.login-section form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-section a:hover {
  color: #194d4d;
}
.error-message {
    color: #D8000C;              
    background-color: #FFD2D2;     
    border: 1px solid #D8000C;     
    padding: 8px 12px;             
    border-radius: 4px;            
    font-size: 14px;               
    margin-top: 10px;              
    display: none;                 
}
/* MODALE */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.modal.hidden {
    display: none;
}
.modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

/* CONTENU DE LA MODALE */

.modal-content {
    width: 630px;         
    background: white;
    border-radius: 10px;
    padding-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.modal-content h3 {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 100%;
    font-weight: 400;
}

.modal-close, .modal-back {
    position: absolute;
    top: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    
}

.modal-close { right: 30px; }
.modal-back { left: 30px; }


/* GALERIE MINIATURES */

.modal-gallery {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    gap: 10px;
    grid-row-gap: 30px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.modal-gallery figure {
    position: relative;
    width: 75px;
    height: 100px;
}

.modal-gallery img {
    width: 100%;
}
.trait-separateur{
    width: 420px;
    border: none;
    border-top: 1px solid #b3b3b3;
    margin: 20px 0;
    margin-left: 10px;

}

/* Poubelle */

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: black;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

/* Bouton Ajouter une photo */

.modal-btn-add {
    display: block;
    margin: 20px auto;
    padding: 10px 40px;
    border-radius: 25px;
    background: #1D6154;
    color: white;
    border: none;
    cursor: pointer;
}

/* FORMULAIRE AJOUT */

.upload-zone {
    width: 420px;
    height: 169px;
    background: #E8F1F6;
    border-radius: 3px;

    position: relative;
    overflow: hidden;
}

/* Image preview centrée */

.upload-zone #preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Placeholder */

.upload-placeholder {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.upload-placeholder .btn-upload {
    background: #CBD6DC;
    color: #306685;
    border-radius: 25px;
    font-size: 14px;
    width: 173px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    cursor: pointer;
}


.vector {
  width: 68px;
  height:59px;
  margin-bottom: 10px;
}

.upload-placeholder .placeholder-icon {
    width: 10px;
    opacity: 0.4;
}


.upload-placeholder .btn-upload {
    background: #CBD6DC;
    color: #306685;
    padding:0px 5px;
    border-radius: 25px;
    font-size: 14px;
    width: 173px;
    height: 36px;
    margin-bottom: 10px;
    
   
}

/* Texte sous le bouton */
.upload-placeholder p {
    font-size: 12px;
    color: #6A6A6A;
    margin-left: 20px;
    
}

#title-input {
  box-shadow: 0px 4px 14px 0px #00000017;
  height: 51px;
  border: none;
}

#category-input {
  box-shadow: 0px 4px 14px 0px #00000017;
  height: 51px;
  border: none;
  padding-right: 1;
}


.btn-validate[type="submit"] {
    display: block;
    margin: 30px auto 0;
    padding: 10px 80px;
    border-radius: 25px;
    background: #a7a7a7;;
    color: white;
    border: none;
    
}

.btn-validate.valid {
 background-color: #1D6154;
}
